<!DOCTYPE html>
<html>
<body>
<h2>接口 API</h2>
	<div>
		运营服务平台  ： <a href="/getWord?tag=work" target="_blank">Doc</a>&nbsp;&nbsp;&nbsp;
		<a href="http://localhost:8000/swagger-ui.html" target="_blank">Swagger</a><br/>
	</div>
<!--	<div>-->
<!--		合同  ： <a href="/getWord?tag=contract" target="_blank">Doc</a>&nbsp;&nbsp;&nbsp;-->
<!--		<a href="http://devbrokercontract.newtest.huaxiacloud.com/swagger-ui.html" target="_blank">Swagger</a><br/>-->
<!--	</div>-->
<!--	<div>-->
<!--		发票  ： <a href="/getWord?tag=invoice" target="_blank">Doc</a>&nbsp;&nbsp;&nbsp;-->
<!--		<a href="http://devbrokerinvoice.newtest.huaxiacloud.com/swagger-ui.html" target="_blank">Swagger</a><br/>-->
<!--	</div>-->
</body>
</html>
